@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

/*Landing Page*/

.landingPage {
  background-color: transparent;
  background-image: url('https://i.pinimg.com/originals/5b/4d/83/5b4d8396a23986bac605d6c526992ba7.png');
}

.spacerLandingTop {
  height: 8rem;
  background-image: url('https://i.pinimg.com/originals/5b/4d/83/5b4d8396a23986bac605d6c526992ba7.png');
}

.landingTitle {
  background-color: white;
  border-top-style: solid;
  border-top-color: gainsboro;
  border-top-width: 1vh;
  border-bottom-style:solid;
  border-bottom-color: gainsboro;
  border-bottom-width: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  /* padding-bottom: 3%; */
}

.topTitle {
  font-size:6vh;
  font-family: caveat, cursive;
  margin-bottom: 0;
}

.bottomTitle {
  font-size: 8vh;
  font-family: caveat, cursive;
  margin-bottom: 0;
}

.landingButton {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 0.4rem;
  /* height: 8vh;
  width: 15vw; */
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem;
  cursor: pointer;
  padding: 1rem 2rem;
}

.landingButton:hover {
  background-color: lightgrey;
}

.landingButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.logo {
  margin: 0;
  padding: 0;
  height: 20rem;
}

/*About Page*/

.aboutPage {
  background-color: khaki;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/85117069-43a7-4365-9780-b931910ab183/d614wgy-59b89793-8a87-40b9-a4a5-e61d305123f5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODUxMTcwNjktNDNhNy00MzY1LTk3ODAtYjkzMTkxMGFiMTgzXC9kNjE0d2d5LTU5Yjg5NzkzLThhODctNDBiOS1hNGE1LWU2MWQzMDUxMjNmNS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.I3yo2MKzcYjwtonIPBxuumW_G6_n1tvc0VrbuIN9qas');
}

.aboutTitle {
  font-size: 8vh;
  text-align: center;
}

.aboutText {
  background-color: white;
  height: 46vh;
}

.aboutText p{
  font-size: 5vh;
  padding: 2em;
}

.aboutSpacer {
  height: 20vh;
}

.backButton {
  background-color: white;
  border-bottom-right-radius: 25%;
  border-style:hidden;
  height: 10vh;
  width: 15vh;
  font-size: 4vh;
}

/*Form formatting*/

.formStyle {
  margin: 0 8%;
  padding: 1em;
  background-color: #fbeaa5;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/85117069-43a7-4365-9780-b931910ab183/d614wgy-59b89793-8a87-40b9-a4a5-e61d305123f5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODUxMTcwNjktNDNhNy00MzY1LTk3ODAtYjkzMTkxMGFiMTgzXC9kNjE0d2d5LTU5Yjg5NzkzLThhODctNDBiOS1hNGE1LWU2MWQzMDUxMjNmNS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.I3yo2MKzcYjwtonIPBxuumW_G6_n1tvc0VrbuIN9qas');
}

.formStyler {
  margin: 0 8%;
  padding: 1em;
  background-color: khaki;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/85117069-43a7-4365-9780-b931910ab183/d614wgy-59b89793-8a87-40b9-a4a5-e61d305123f5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODUxMTcwNjktNDNhNy00MzY1LTk3ODAtYjkzMTkxMGFiMTgzXC9kNjE0d2d5LTU5Yjg5NzkzLThhODctNDBiOS1hNGE1LWU2MWQzMDUxMjNmNS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.I3yo2MKzcYjwtonIPBxuumW_G6_n1tvc0VrbuIN9qas');
}

.landingButtonslogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginPager {
  background-color: #fbeaa5;
  background-image:('https://lh3.googleusercontent.com/proxy/9eAaILcS9AQ7Wz_xhwvkXlHJ7bUxudUDoplBYOV4J0aBNpe4qtIJtDof8G2K9Lgk-eYioh8_1CtgTKF4fnLCCOqExJJgEumCkg4')
}

.loginPage {
  background-color: #fbeaa5;
  background-image:('https://lh3.googleusercontent.com/proxy/9eAaILcS9AQ7Wz_xhwvkXlHJ7bUxudUDoplBYOV4J0aBNpe4qtIJtDof8G2K9Lgk-eYioh8_1CtgTKF4fnLCCOqExJJgEumCkg4')
}