.gameset {
    background-color: #CEE741;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.gameset h3 {
    font-size: 1rem;
}

.gameScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightpink;
    background-image: url('https://i.pinimg.com/originals/5b/4d/83/5b4d8396a23986bac605d6c526992ba7.png');
    border-top: 0.4rem solid black;
    border-bottom: 0.4rem solid black;
}

.pokemonImage {
    display: flex;
    flex: 1 0 auto;
    max-width: 400px;
    position: relative;
    justify-content: center;
}

.pokemonImage.isDead {
    filter: grayscale(100%);
}

.pokemonImage.isDead .image2 {
    animation: none;
}

.pokemonImage img {
    width: 100%;
    image-rendering: pixelated;
}

.image2 {
    position: absolute;
    animation: image2anim 2s infinite linear;
}

@keyframes image2anim {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    50.001% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.bar {
    width: 2.4rem;
    position: relative;
}

.barCurrent {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.hungerBar {
    background-color: #FBC7BD;
    border-left: 0.4rem black solid;
}

.hungerBarCurrent {
    background-color: #F24726;
}

.happinessBar {
    background-color: #D0F5F6;
    border-right: 0.4rem black solid;
}

.happinessBarCurrent {
    background-color: #12CDD4;
}

.feedPlayBtns {
    border-bottom: 0.4rem solid black;
    background-color: lightgreen;
}

.feedPlayBtn {
    background: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border: 0.4rem solid black;
    margin: 1rem 1rem;
    cursor: pointer;
}

.feedPlayBtn:hover {
    background-color: lightgrey;
}

.statNumber {
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.barIcon {
    z-index: 2;
    position: absolute;
    width: 4rem;
    bottom: 0;
}

.hungerBarIcon {
    left: 0;
}

.happinessBarIcon {
    right: 0;
}

.resetBtn {
    display: none;
}

.resetBtn.isDead {
    display: flex;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border: 0.4rem solid black;
}

.resetBtn:hover {
    background-color: darkslategrey;
}