.footerWrapper {
    display: flex;
    background-color: #50514F;
    height: 100%;
    flex: 1 1 auto;

}

.footer {
    background-color: #50514F;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
    border-left: 0.4rem black solid;
    border-right: 0.4rem black solid;
}

.footerBottom {
    color: white;
    justify-content: space-between;
    display: flex;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    margin: auto auto 1rem;
    padding: 0 1rem;
}

.footer .aboutLink {
    color: white;
}

.footer .logo {
    width: 10rem;
    border: 0.5rem solid lightgrey;
    margin: 2rem 0;
}